.careers-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.careers-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-primary1-blue20);
}
.careers-banner {
  width: 100%;
  height: 60vh;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dl-color-primary1-blue20);
}
.careers-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}
.careers-text {
  color: var(--dl-color-primary1-blue100);
  font-size: 3em;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.careers-text1 {
  color: var(--dl-color-primary1-blue100);
  font-size: 18px;
  margin-right: var(--dl-space-space-threeunits);
}
.careers-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.careers-link {
  color: var(--dl-color-primary1-blue20);
  font-size: 1.5rem;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: 1rem;
  border-color: var(--dl-color-gray-500);
  padding-left: 2rem;
  border-radius: 10px;
  padding-right: 2rem;
  padding-bottom: 1rem;
  text-decoration: none;
  background-color: var(--dl-color-primary1-blue100);
}
.careers-link:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.careers-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
}
.careers-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141414;
}
@media(max-width: 991px) {
  .careers-banner {
    flex-direction: column;
  }
  .careers-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .careers-text1 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .careers-container2 {
    justify-content: center;
  }
  .careers-image {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xxlarge);
  }
}
@media(max-width: 767px) {
  .careers-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .careers-text1 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .careers-banner {
    height: 80vh;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .careers-container2 {
    align-items: center;
    flex-direction: column;
  }
  .careers-link {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .careers-image {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
}
