.pricing-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-primary1-blue80);
}
.pricing-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.pricing-pricing {
  width: 100%;
  display: flex;
  justify-content: center;
}
.pricing-container1 {
  width: 100%;
  display: flex;
  opacity: 0.2;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  background-size: cover;
  justify-content: center;
}
.pricing-pricing-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 450px;
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.39);
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.pricing-pricing-card:hover {
  transform: scale(1.02);
}
.pricing-text {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.pricing-container2 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.pricing-text01 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.pricing-text04 {
  font-size: 4rem;
  font-weight: 700;
}
.pricing-container3 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.pricing-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-button {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.pricing-pricing-card1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 450px;
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.39);
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  border-radius: 20px;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.pricing-pricing-card1:hover {
  transform: scale(1.02);
}
.pricing-text09 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.pricing-container4 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.pricing-text10 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.pricing-text13 {
  font-size: 4rem;
  font-weight: 700;
}
.pricing-text14 {
  font-size: 1.15rem;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.pricing-text16 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.pricing-container5 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.pricing-text17 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text18 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text19 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text20 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text21 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-button1 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.pricing-pricing-card2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 450px;
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.39);
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-white);
}
.pricing-pricing-card2:hover {
  transform: scale(1.02);
}
.pricing-text22 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.pricing-container6 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.pricing-text23 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.pricing-text26 {
  font-size: 4rem;
  font-weight: 700;
}
.pricing-text27 {
  font-size: 1.15rem;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.pricing-text29 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.pricing-container7 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.pricing-text30 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text31 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text32 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text33 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-button2 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.pricing-text34 {
  top: 35vh;
  color: var(--dl-color-primary1-blue20);
  position: fixed;
  font-size: 5rem;
  font-style: normal;
  font-weight: 700;
}
.pricing-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141414;
}
@media(max-width: 991px) {
  .pricing-header {
    z-index: 101;
  }
  .pricing-pricing-card {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    max-width: 100%;
    align-items: center;
  }
  .pricing-text04 {
    font-size: 4rem;
    font-weight: 700;
  }
  .pricing-pricing-card1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .pricing-text13 {
    font-size: 4rem;
    font-weight: 700;
  }
  .pricing-pricing-card2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .pricing-text26 {
    font-size: 4rem;
    font-weight: 700;
  }
  .pricing-text29 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
  }
  .pricing-text34 {
    color: var(--dl-color-primary1-blue20);
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
  }
}
@media(max-width: 767px) {
  .pricing-container1 {
    flex-flow: column;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .pricing-pricing-card {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .pricing-pricing-card1 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .pricing-pricing-card2 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .pricing-container1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .pricing-pricing-card2 {
    margin-bottom: 0px;
  }
  .pricing-text34 {
    align-self: stretch;
    text-align: center;
  }
}
