.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: space-between;
  background-color: #141414;
}
.footer-container {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text {
  color: var(--dl-color-primary1-blue20);
  text-align: center;
  transition: 0.3s;
}
.footer-text:hover {
  color: var(--dl-color-primary1-blue80);
}
.footer-image {
  width: 75px;
  height: 75px;
  object-fit: cover;
}
.footer-nav {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.footer-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.footer-nav1 {
  color: var(--dl-color-primary1-blue20);
  transition: 0.3s;
  text-decoration: none;
}
.footer-nav1:hover {
  color: var(--dl-color-primary1-blue80);
}
.footer-nav2 {
  color: var(--dl-color-primary1-blue20);
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-nav2:hover {
  color: var(--dl-color-primary1-blue80);
}
.footer-nav3 {
  color: var(--dl-color-primary1-blue20);
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-nav3:hover {
  color: var(--dl-color-primary1-blue80);
}
.footer-nav4 {
  color: var(--dl-color-primary1-blue20);
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-nav4:hover {
  color: var(--dl-color-primary1-blue80);
}
.footer-nav5 {
  color: var(--dl-color-primary1-blue20);
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-nav5:hover {
  color: var(--dl-color-primary1-blue80);
}
.footer-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-primary1-blue20);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.footer-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-link {
  display: contents;
}
.footer-icon {
  fill: var(--dl-color-primary1-blue20);
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-icon:hover {
  fill: var(--dl-color-primary1-blue80);
}
.footer-link1 {
  display: contents;
}
.footer-icon2 {
  fill: var(--dl-color-primary1-blue20);
  width: 24px;
  height: 24px;
  transition: 0.3s;
  text-decoration: none;
}
.footer-icon2:hover {
  fill: var(--dl-color-primary1-blue80);
}
.footer-text1 {
  fill: var(--dl-color-primary1-blue20);
  color: var(--dl-color-primary1-blue20);
  margin-top: 2vh;
  padding-bottom: 0px;
}






@media(max-width: 991px) {
  .footer-text {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .footer-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-text {
    text-align: center;
  }
  .footer-image {
    width: 50px;
    height: 50px;
  }
  .footer-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-text1 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
  }
  .footer-text {
    font-size: 1.25em;
    text-align: center;
  }
  .footer-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-text1 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
